@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

/* ROOT */
:root{
    /* normal/lightmode */
    --cor0 : #ffffff;
    --cor1 : #a52a2a;
    --cor2 : #151515;
    --cor3 : #000000;
    --cor4 : #cba303;
    --cor5 : #ffffff;
    --icon : invert(100%) sepia(0%) saturate(7484%) hue-rotate(215deg) brightness(106%) contrast(109%);

    --lineSpace : 1.5;
    --letterSpace: 0.3;
    --wordSpace: 2px;
}

.dark:root{
    --cor0 : #444343;
    --cor1 : #fdcb00;
    --cor3 : #ffffff;
    --cor5 : #000000;
}

.line-space:root{
    --lineSpace : 1.8;
    --letterSpace: 0.5;
    --wordSpace: 5px;
}



body{
    background-color: var(--cor0);
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.iconSwitch, .iconCanhoto{filter: var(--icon);}
/* .iconCanhoto{transform: scaleX(-1);} */
.inverter{transform: scaleX(-1);}

.navbar-toggler-icon, .iconSpace {
    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(215deg) brightness(106%) contrast(109%);
}

.form-check-input:checked{
    background-color: #929292;
    border-color: #00000000;
}

/* FONTE */

.fontemukta {
    font-family: 'Mukta', sans-serif;
}

.fontenegrito {
    font-weight: bold;
}

p {
    font-family: 'Mukta', sans-serif;
    color: var(--cor3);
    line-height: var(--lineSpace);
    letter-spacing: var(--letterSpace);
    word-spacing: var(--wordSpace);
}

form label{
    color: var(--cor3);
}


/* FIM FONTE */

h1,
h2,
h3,
h4,
h5{
    color: var(--cor1);
}

.card h5, .active h2{
    color: #a52a2a;
}

.card-text, .leia-mais p, .retorna-topo p{
    color: #000000;
} 

li {list-style-type: none;}

a, .text-branco {color: #ffffff !important;}

.botaocor,.botaoRetornarTopo {background-color: var(--cor4);}

.cornavfooter {background-color: var(--cor2) !important;}

.cardlargura {
    max-width: 300px;
}
.card{
    box-shadow: 2px 0px 5px #000000;
}

.limpar {
    text-decoration: none !important;
    color: var(--cor3) !important;
}
.limpar p, .btncor{
    color: var(--cor5) !important;
}

.cardajuste {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.botaoRetornarTopo{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: none !important;
}

.retorna-topo{
    border: none; 
    width: 75px;
    background-color: #00000000;   
}
.retorna-topo img{
    width: 35px;
    height: 35px;
}
.retorna-topo p{ 
    margin: 0;
    font-weight: bold;
}

.text-justify{
    text-align: justify;
    text-justify: inter-word;
}

.leia-mais, .btncor{
    background-color: var(--cor1);
}

.list-personagem li a:hover{
    background-color: var(--cor1);
}

.list-personagem li a:hover h5{
    color: var(--cor0);
}

.menu-tab li a:hover{
    background-color: var(--cor1);
} 
.menu-tab li a:hover h4{
    color: var(--cor0);
} 